web/src/assets/scss/* linguist-vendored=false
web/src/assets/css/* linguist-vendored=false
web/src/assets/vendor/* linguist-vendored=false
web/src/assets/scss/* linguist-detectable=false
web/src/assets/css/* linguist-detectable=false
web/src/assets/vendor/* linguist-detectable=false